<!doctype html>
<html lang="en">
<head>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Material Design Lite -->
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-orange.min.css">
  <!-- Material Design icon font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>

<!--jumbotron code-->
<div class="jumbotron">


        <h1 class="display-3">
          ArcProHub is a centralized archival repository
        </h1>
        <p class="lead">
          Simplified portfolio assessment,program management and applications management tool that automates project implementation and execution processes while providing dashboard and financial reporting. This toolkit provides approval management, artifacts management, workflow capabilities for portfolio rationalization, data archival and decommissioning programs.
        </p>
<hr>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" id="lrnBtn" role="button">Learn more</a>
  </p>
</div>
<!--End of jumbotron code-->



<!-- Square card -->
<div class="mdl-card mdl-shadow--2dp demo-card-square">
  <div class="mdl-card__title mdl-card--expand">
    <!--Card image-->
    <img class="img-fluid" src="" alt="">
    <!--/.Card image-->
    <h2 class="mdl-card__title-text">App-Emphasize</h2>
  </div>
  <div class="mdl-card__supporting-text">
   Gathers pre-inputs required to validate the complexity of the application...
    <a href="#" class="black-text d-flex flex-row-reverse"><h5 class="waves-effect p-2">Read more <i class="fa fa-chevron-right"></i></h5></a>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
      Action
    </a>
  </div>
</div>

<!-- Square card -->
<div class="mdl-card mdl-shadow--2dp demo-card-square">
  <div class="mdl-card__title mdl-card__accent mdl-card--expand">
    <h2 class="mdl-card__title-text">Intake</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Action
    </a>
  </div>
</div>
<!-- Square card -->
<div class="mdl-card mdl-shadow--2dp demo-card-square">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Archival Execution</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
      Action
    </a>
  </div>
</div>
<!-- Square card -->
<div class="mdl-card mdl-shadow--2dp demo-card-square">
  <div class="mdl-card__title mdl-card__accent mdl-card--expand">
    <h2 class="mdl-card__title-text">Decommission Execution</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Action
    </a>
  </div>
</div>
<!-- Square card -->
<div class="mdl-card mdl-shadow--2dp demo-card-square">
  <div class="mdl-card__title mdl-card--expand">
    <!--Card image-->
    <img class="img-fluid" src="" alt="">
    <!--/.Card image-->
    <h2 class="mdl-card__title-text">Admin</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
      Action
    </a>
  </div>
</div>

<!-- Square card -->
<div class="mdl-card mdl-shadow--2dp demo-card-square">
  <div class="mdl-card__title mdl-card__accent mdl-card--expand">
    <h2 class="mdl-card__title-text">Program Governance</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Action
    </a>
  </div>
</div>
<!-- Square card -->
<div class="mdl-card mdl-shadow--2dp demo-card-square">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Reporting</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
      Action
    </a>
  </div>
</div>
<!-- Square card -->
<div class="mdl-card mdl-shadow--2dp demo-card-square">
  <div class="mdl-card__title mdl-card__accent mdl-card--expand">
    <h2 class="mdl-card__title-text">Finance&Contract Management</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Action
    </a>
  </div>
</div>
</body>
</html>

