<!doctype html>
<html lang="en">
<head>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" role="navigation"> -
  <div class="navbar-inner">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  href="#"><img alt="Brand" src="/assets/images/ArcProHub.jpg" ></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"><span class="sr-only">(current)</span><span class="glyphicon glyphicon-home"></span><strong> Home </strong></a></li>
        <li><a href="#"><strong>Features</strong></a></li>
        <li><a href="#"><strong>Pricing</strong></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong> Modules </strong> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><strong>App-Emphasize</strong></a></li>
            <li><a href="#"><strong>Intake</strong></a></li>
            <li><a href="#"><strong>Archival Execution</strong></a></li>
            <li><a href="#"><strong>Decommission Execution</strong></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><strong>Admin</strong></a></li>
            <li><a href="#"><strong>Program Governance</strong></a></li>
            <li><a href="#"><strong>Reporting</strong></a></li>
            <li><a href="#"><strong>Finance&Contract Management</strong></a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-btn navbar-right">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#signInModal"><span class="glyphicon glyphicon-log-in"></span> Sign In</button>
        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#registerModal"><span class="glyphicon glyphicon-shopping-cart"></span> Purchase</button>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div>
</nav>
<app-body-content></app-body-content>
</body>
</html>
